<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- =================================================================== -->
	<!-- ======================   한글 인코딩 필터   =========================== -->
	<!-- =================================================================== -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- =================================================================== -->


	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- =================================================================== -->
	<!-- START: CORS Filter Configuration                                  -->
	<!-- Vue.js (http://localhost:8081)와 같은 다른 출처에서의 API 요청을 허용하기 위한 설정 -->
	<!-- =================================================================== -->
	
	<filter>
	    <!-- 필터에 'corsFilter'라는 이름을 부여합니다. -->
	    <filter-name>corsFilter</filter-name>
	    
	    <!-- 필터 역할을 할 자바 클래스의 전체 경로를 지정합니다. -->
	    <!-- 만약 다른 패키지에 만드셨다면 이 경로를 그에 맞게 수정해야 합니다. -->
	    <filter-class>com.spring.common.filter.SimpleCORSFilter</filter-class>
	</filter>
	
	<filter-mapping>
	    <!-- 위에서 정의한 'corsFilter'를 사용하겠다고 지정합니다. -->
	    <filter-name>corsFilter</filter-name>
	    
	    <!-- '/api/'로 시작하는 모든 URL 요청에 이 필터를 적용합니다. -->
	    <!-- 예: /api/boards, /api/mbti/results 등 -->
	    <url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	
	<!-- =================================================================== -->
	<!-- END: CORS Filter Configuration                                    -->
	<!-- =================================================================== -->



	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
