name: Java and Node.js CI

on:
  push:
    branches: [ main ]

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Build with Maven
      run: |
        for i in 1 2 3; do mvn -f backend/pom.xml clean package -DskipTests && break || sleep 10; done

  build-frontend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    - name: Build React App
      run: |
        cd frontend-react
        npm install
        npm run build
    - name: Build Vue App
      run: |
        cd frontend-vue
        npm install
        npm run build
